body{
font-family : 'Bebas Neue', cursive;}
.name-coloring{
    color: orange;
}
.button-color{
    background-color: rgb(125, 201, 11);
    border-radius: 10px;
    padding: 10px 10px;
    font-weight: 200;
    color: white;
}
.box-sizing{
    height: 450px;
}
.img-shaping{
height: 50px;
width: 50px;
}
.side-image{
    height: 30%;
}
.review-spacing{
    padding-top:100px;
}
